@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --orange-color: #c59d5f;
  --white-color: #fff;
  --background-color: #f1f5f8;
  --item-heading-color: #102a42;
  --item-description-color: #617da7;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  text-align: justify;
}

.heading {
  font-weight: 600;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
}
.underline {
  width: 8rem;
  height: 0.5rem;
  background: var(--orange-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  /* border: 1px solid black; */
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 15rem;
}

.menu ul a {
  margin: 10px 10px;
  padding: 5px 10px;
  font-size: 3rem;
  text-decoration: none;
  border-color: --var(orange-color);
  border: 0.4rem solid var(--orange-color);
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 1);
  color: var(--orange-color);
  transition: all 0.3s linear;
}

.menu ul a:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  place-items: center;
  gap: 10rem 2rem;
}

.menu-item {
  display: flex;
  margin-left: 5rem;
}

.menu-item-image {
  display: flex;
  width: 30rem;
  border: 0.5rem solid var(--orange-color);
  border-radius: 10px;
  margin-right: 2rem;
}

.menu-item-image img {
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}
.menu-item-info {
  display: flex;
  flex-direction: column;
  width: 45rem;
}
.menu-item-info-heading {
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  color: var(--orange-color);
  border-bottom: 1px dotted black;
}
.menu-item-info-heading h4 {
  margin: 0;
  padding-bottom: 1rem;
}
.menu-item-info-heading > h4:first-child {
  color: var(--item-heading-color);
}
.menu-item-info-text {
  padding-top: 2rem;
  font-size: 1.8rem;
  color: var(--item-description-color);
}
